extends layout

block content
  div.pagetitle
    h1= title
  div.summary-panel
    div.btn-group
      button.btn.btn-default.dropdown-toggle(type='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false') Weapon
        span.caret
      ul.dropdown-menu
        li
          a(href='#') hi