doctype html
html(ng-app='darrenl.in')
  head
    title= 'Darren Lin - ' + title
    link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src='/javascripts/jquery-3.1.1.min.js')
    script(src='/bootstrap-3.3.7-dist/js/bootstrap.min.js')

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-resource.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js')

    script(src='/javascripts/app.js')

    block head
  body
    include navbar
    block content
