ul.navbar
  li.navbar-category Darren
  li.navbar-item
    a(href="/") Home
  li.navbar-item
    a(href="./education") Education
  li.navbar-category.navbar-separator Projects
  li.navbar-item
    a(href="/") School
  li.navbar-item
    a(href="/") TERA
  li.navbar-item
    a(href="/") League of Legends